<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nesne_Benzin.Properties.Settings.nesne_benzinConnectionString"
            connectionString="Data Source=DESKTOP-6GO1P98;Initial Catalog=nesne_benzin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>