USE [nesne_benzin]
GO
/****** Object:  Table [dbo].[tbl_akaryakitAdi]    Script Date: 5.05.2021 23:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_akaryakitAdi](
	[idno] [int] IDENTITY(1,1) NOT NULL,
	[yakit_adi] [nvarchar](50) NULL,
	[litre_fiyat] [nvarchar](50) NULL,
	[depo_litre] [smallint] NULL,
 CONSTRAINT [PK_tbl_akaryakitAdi] PRIMARY KEY CLUSTERED 
(
	[idno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_benzinal]    Script Date: 5.05.2021 23:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_benzinal](
	[fisidno] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](50) NULL,
	[litre] [int] NULL,
	[yakitTur] [nvarchar](50) NULL,
	[personelAdi] [nvarchar](50) NULL,
	[alimTarih] [smalldatetime] NULL,
 CONSTRAINT [PK_tbl_benzinal] PRIMARY KEY CLUSTERED 
(
	[fisidno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_personel]    Script Date: 5.05.2021 23:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personel](
	[idno] [int] IDENTITY(1,1) NOT NULL,
	[pertc] [nvarchar](50) NULL,
	[perad] [nvarchar](50) NULL,
	[persad] [nvarchar](50) NULL,
	[perdgmtrh] [nvarchar](50) NULL,
	[pertel] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
	[maas] [smallint] NULL,
	[foto] [image] NULL,
 CONSTRAINT [PK_tbl_personel] PRIMARY KEY CLUSTERED 
(
	[idno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_akaryakitAdi] ON 

INSERT [dbo].[tbl_akaryakitAdi] ([idno], [yakit_adi], [litre_fiyat], [depo_litre]) VALUES (3, N'Dizel', N'6', 6000)
INSERT [dbo].[tbl_akaryakitAdi] ([idno], [yakit_adi], [litre_fiyat], [depo_litre]) VALUES (4, N'LPG', N'4', 5950)
INSERT [dbo].[tbl_akaryakitAdi] ([idno], [yakit_adi], [litre_fiyat], [depo_litre]) VALUES (9, N'Benzin', N'7', 5900)
SET IDENTITY_INSERT [dbo].[tbl_akaryakitAdi] OFF
SET IDENTITY_INSERT [dbo].[tbl_benzinal] ON 

INSERT [dbo].[tbl_benzinal] ([fisidno], [plaka], [litre], [yakitTur], [personelAdi], [alimTarih]) VALUES (48, N'52  T 0061', 80, N'Benzin', N'Serhat Yıldız', CAST(N'2021-05-05 17:36:00' AS SmallDateTime))
INSERT [dbo].[tbl_benzinal] ([fisidno], [plaka], [litre], [yakitTur], [personelAdi], [alimTarih]) VALUES (49, N'56 AA 784', 50, N'LPG', N'Ahmet Yılmaz', CAST(N'2021-05-05 17:41:00' AS SmallDateTime))
INSERT [dbo].[tbl_benzinal] ([fisidno], [plaka], [litre], [yakitTur], [personelAdi], [alimTarih]) VALUES (50, N'52 ER 782', 150, N'LPG', N'Ahmet Yılmaz', CAST(N'2021-05-05 17:44:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[tbl_benzinal] OFF
SET IDENTITY_INSERT [dbo].[tbl_personel] ON 

SET IDENTITY_INSERT [dbo].[tbl_personel] OFF
